<!DOCTYPE html>
<html lang="pt-BR"
	xmlns ="http://www.w3.org./1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{Layout}">

<head>
	<meta charset="UTF-8">
	<title>Histórico</title>	

</head>

<body>

	<section layout:fragment="conteudo">
	
		<div class="card" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
			<div class = "card-header">
					<h3 class="card-title float-left">Pesquisa de funcionários</h3>
					<a class ="btn btn-outline-success float-right"  href="/wa/funcionarios/cadastrar" role="button">Cadastrar funcionário</a>		
			</div>
			
			<div class="panel-body">	
				<form method="GET" action="/wa/funcionarios" th:object="${filtro}">
					<div class="form-group row col-sm-4">
						<div class="input-group mb-2">
						 <input class="form-control" placeholder="Pesquisar funcionário" 
						 autofocus="autofocus" th:field="*{nome}"></input>
						 <span class = "input-group-btn>">
						 	<button type="submit" class="btn btn-outline-dark">
						 		<img src="/images/search.png" height="15" width="15"/>
						 	</button>
						 </span>
						</div>
					</div>
				</form>
			</div>
			
			<table class="table table-striped table-bordered">
 				<thead class="thead-dark">
 					<tr>											
						<th class="text-center col-md1">Funcionário</th>						
 						<th class="text-center col-md1">Cliente</th> 		
 						<th class="text-center col-md1">Código Vaga</th> 							
						<th class="text-center col-md1">Início WA</th> 	
						<th class="text-center col-md1">Início Alocação</th> 														 					 						
 					</tr>
 				</thead>
 				<tbody>
 					<tr th:each="funcionario :${funcionarios}" th:if="${funcionario.vaga} != null"> 						
 						<td class="text-center" th:text="${funcionario.nome}"></td> 
 						<td class="text-center" th:text="${funcionario.vaga.cliente}"></td> 
 						<td class="text-center" th:text="${funcionario.vaga.codigo_vaga}"></td> 	 						 						 										 					 					 						
 						<td class="text-center" th:text="${{funcionario.inicio_wa}}"></td> 
 						<td class="text-center" th:text="${{funcionario.inicio_alocacao}}"></td>																 				
 					</tr>
 					<tr>
 						<td colspan="6" th:if="${#lists.isEmpty(funcionarios)}">nenhum funcionário foi encontrado!</td> 						
 					</tr>
 					
 				</tbody>
 			</table>
			
		</div>
	</section>

</body>
</html>